*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Noto Sans', sans-serif;
}
header{
    background: #163A24;
    border-bottom: 2px solid #163A24;
}
.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.site-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0 ;
}
.main-nav-item{
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    height: 100%;
    flex-grow: 1;
    background: #163A24;
}
.site-main-header{
    display: flex;
    align-items: center;
    
}
.site-main-header-text{
    width: 475px;
    color: #FBFAF7;
}
.site-main-header-text h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #FBFAF7;
}
.site-main-header-text p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FBFAF7;
}
.main-nav-items a{
    color: #FBFAF7;
    text-decoration: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;    
}
.main-nav-items--cta{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FBFAF7;
    background: #198C36;
    padding: 10px 15px;
    border-radius: 22px;
}
.site-main{
    background: #FBFAF7;
    width: 100%;
}
.site-main-contant2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.site-main-header-text2{
    width: 375px;
}
.site-main-header-text2 h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
}
.site-main-header-text2 p{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}
.socials{
    display: flex;
    justify-content: space-evenly;
    width: 125px;
    align-items: center;
}
.special{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
}
.site-main2{
    background: #FBFAF7;
    display: flex;
    flex-direction: column;
}
.site-main2 div{
    display: flex;
    justify-content: space-evenly;
}
.site-main2 div a{
    padding-top: 65px;
    padding-bottom: 120px;
}
.site-main-contant3{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 568px;
}
.setting{
    display: flex;
    width: 950px;
    justify-content: space-between;
    align-items: stretch;
}
.setting section{
    align-items: center;
    color: #FBFAF7;
    line-height: 27px;
}
.site-main-contant3 div h1{
    color: #FBFAF7;
    font-family: 'Playfair Display', serif;
}

.site-main4{
    background: #F2EFE6;
    height: 775px;

}
.site-main-contant4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-main-contant4 h1{
    font-family: 'Playfair Display', serif;    
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    width: 740px;
}
.site-main-contant4 p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    width: 760px;
}
.site-main5{
    background: #fff;
    height: 730px;
}
.site-main-contant5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.site-main-text{
    width: 380px;
}
.site-main-text h2{
    font-family: 'Playfair Display', serif; 
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
}
.site-main-text p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}
.site-main6{
    background: #fff;
}
.site-main-contant6{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 790px;
    justify-content: center;
    width: 1140px;
}
.site-main-contant6 h2{
    font-family:  'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
}
.site-main-contant6 p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
}
.section{
    background: #FBFAF7;
    box-shadow: 5px 5px 20px #E9E4D5;
    border-radius: 15px;
    height: 393px;
    width: 353px;    
    border-radius: 15px;
    margin-left: 40px;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
}
.section h3{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    color: #163A24;
}
.section ul li{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #163A24;
}
.section-cta{
    height: 430px;
    width: 353px;
    border-radius: 15px;
}
.sections{
    display: flex;
}
.site-main7{
    background: #F2EFE6;
    height: 602px;
}
.site-main-contant7{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.site-main-text7{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-main-contant7 h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
}
.site-main-contant7 h4{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;

}
.site-main-texts{
    width: 286px;
}
.site-main-texts h3{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
}
.site-main-texts h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    color: #163A24;
}
.site-main8{
    background: #F2EFE6;
}
.site-main-contant8{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.site-main8-text{
    width: 394px;
    height: 230px;
    align-items: center;
}
.site-main8-text h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
}
.site-main8-text p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    padding-bottom: 18px;
}
.site-main8-text a{
    background:#198C36;
    color: #FBFAF7;
    padding: 12px 18px ;
    border-radius: 24px;
    text-decoration: none;
}
.site-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 44px;
    border-bottom: 2px solid 
    #F2EFE6;
}
.site-footer2{
    display: flex;
    justify-content: space-between;
}
.add{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
}
.site-footer-nav{
    display: flex;
    width: 590px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.site-footer-navs a{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    text-decoration: none;
    color: #198C36;
}